.Text{
	width: 100%;
	height: 7%;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 1.5em;
}
.BoxCards{
	width: 100%;
	height: 93%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;

}
.SectionCards{
	width: 100%;
	height: 130vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: #E0E0E0;
}
.CardLine{
	position: relative;
	width: 95%;
	height: 47%;

    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;

}
.Card{
	border-radius: 5px;
   width: 47%;
   height: 100%;
   display: flex;
   flex-direction: column;
   background-color: white;
   box-shadow: 2px 2px #efe5e5;

}
.CardTitle{

	border-radius: 5px;
	width: 100%;
	height: 15%;
	display: flex;
	justify-content: space-around;
	font-size: 1.2em;
	color: white;
	align-items: center;
	background-color: #3a71c7;

}
.CardContent{
	width: 100%;
	height: 70%;
	background-color: white;
}
.CardFooter{
	width: 100%;
	height: 15%;
	display: flex;
	justify-content: flex-end;
	align-items: flex-start;
	padding-bottom: 1%;
}
.ButtonPrimary{
	width: 25%;
	height: 95%;
	background-color: #3a71c7;
	border-radius: 7px;
	margin-right: 10px;
}
.LineLogo{
	width: 100%;
	height: 50%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;


}
.LineDescription{
	width: 100%;
	height: 50%;
	display: flex;
    justify-content: space-between;
	background-color: blue;

}
.LogoCard{
	width: 20%;
	height: 100%;
	display:flex;
	justify-content: center;
	align-items: center;

}
.TextCard{
	text-align: center;
	width: 78%;
	height: 100%;
	display: flex;
	justify-content: center;

}
.List{
	width: 32%;
	height: 100%;
	background-color: red;
}
