<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
    <script src="js/jquery-3.2.1.min.js"> </script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Conecta | Resultado da Busca</title>
  <link rel="stylesheet" type="text/css" href="stylesheets/home.css">
  <link rel="stylesheet" type="text/css" href="stylesheets/cards.css">

  <script>
  $(document).ready(function(){
    var sPageURL = decodeURIComponent(window.location.search.substring(1))
    var res = sPageURL.split('=');
    $('#searchTerm').html(res[1]);
  });



  //searchTerm
  </script>

</head>
<body>
  <div class="Navbar">
    <div class="Logo">
      <a href="/"><img src="images/logo.png" alt="Logo Conecta"></a>
    </div>
    <div class="nav">
      <ul class="ul">
        <li class="li"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Logado</li>
      </ul>
    </div>
  </div>
  <section class="SectionCards">
    <div class="Text">
      Resultados para a sua busca
    </div><div id="searchTerm" style="font-weight:900;font-size: 25px;"> a</div>

    <div class="BoxCards">
      <div class="CardLine">
        <div class="Card">
          <div class="CardContent">
            <div class="LineLogo">
              <div class="LogoCard">
                <img src="images/empresa1.jpg">
              </div>

              <div class="TextCard">
                <span>A empresa <span class="u-fontBold">CenterTech</span> deixa para trás ideia tradicionais e aposta em uma abordagem de desenvolvimento de software moderna.</span>
              </div>

            </div>
            <div class="LineDescription">
              <div class="TitleDescription">Competências</div>
              <div class="LineList">
                <div class="List">
                  <ul>
                    <li>Testes</li>
                    <li>Desenvolvimento</li>
                    <li>TDD</li>
                    <li>Integração contínua</li>
                  </ul>
                </div>
                <div class="List">
                  <ul>
                    <li>Design responsivo</li>
                    <li>Desenvolvimento web</li>
                    <li>Código aberto</li>
                    <li> Desenvolvimento C#</li>
                  </ul>

                </div>
                <div class="List">
                  <ul>
                    <li>Inteligência artificial</li>
                    <li>Desenvolvimento Java</li>
                    <li>Scrum</li>
                    <li>Marketing digital</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="CardFooter">
            <button data-toggle="tooltip" title="Envia uma mensagem à empresa requerindo uma parceria! " class="magic-button" id="magic-button-1" onclick="change">Enviar solicitação</button><br>

            <span class="success-message" id="success-message-1"><i class="glyphicon glyphicon-ok"></i> Solicitação enviada!</span>
          </div>
        </div>


        <!--CARD 2-->
        <div class="Card">
          <div class="CardContent">
            <div class="LineLogo">
              <div class="LogoCard">
                <img src="images/empresa2.png">
              </div>
              <div class="TextCard">
                <span>A empresa <span class="u-fontBold">Innovatis</span> procura fornecer soluções em informática que tenham um forte comprometimento com o meio ambiente.</span>
              </div>
            </div>
            <div class="LineDescription">
              <div class="TitleDescription">Competências</div>
              <div class="LineList">
                <div class="List">
                  <ul>
                    <li>Pesquisas e testes com consumidores</li>
                    <li>Desenvolvimento</li>
                    <li>Prototipagem rápida</li>
                  </ul>
                </div>
                <div class="List">
                  <ul>
                    <li>Design responsivo</li>
                    <li>Código aberto</li>
                    <li> Estratégia Digital</li>
                  </ul>

                </div>
                <div class="List">
                  <ul>
                    <li>Inteligência artificial</li>
                    <li>Desenvolvimento Java</li>
                    <li>Marketing digital</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="CardFooter">
            <button data-toggle="tooltip" title="Envia uma mensagem à empresa requerindo uma parceria! " class="magic-button" id="magic-button-2" onclick="change">Enviar solicitação</button><br>

            <span class="success-message" id="success-message-2"><i class="glyphicon glyphicon-ok"></i> Solicitação enviada!</span>
          </div>
        </div>
      </div>

      <div class="CardLine">


        <!--CARD 3-->
        <div class="Card">
          <div class="CardContent">
            <div class="LineLogo">
              <div class="LogoCard">
                <img src="images/empresa3.png">
              </div>
              <div class="TextCard">
                <span>A empresa <span class="u-fontBold">ExtraBits</span> se diferencia pela segurança e confiabilidade das operações em TI. Entregando os serviços com transparência e eficiência.</span>
              </div>
            </div>
            <div class="LineDescription">
              <div class="TitleDescription">Competências</div>
              <div class="LineList">
                <div class="List">
                  <ul>
                    <li>Desenvolvimento</li>
                    <li>Integração contínua</li>
                    <li>Marketing digital</li>
                  </ul>
                </div>
                <div class="List">
                  <ul>
                    <li>Desenvolvimento web</li>
                    <li>Código aberto</li>
                    <li> Prototipagem rápida</li>
                  </ul>

                </div>
                <div class="List">
                  <ul>
                    <li>Inteligência artificial</li>
                    <li>Segurança de Informação</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="CardFooter">
            <button data-toggle="tooltip" title="Envia uma mensagem à empresa requerindo uma parceria! " class="magic-button" id="magic-button-3" onclick="change">Enviar solicitação</button><br>

            <span class="success-message" id="success-message-3"><i class="glyphicon glyphicon-ok"></i> Solicitação enviada!</span>
          </div>
        </div>


        <!--CARD 4-->
        <div class="Card">
          <div class="CardContent">
            <div class="LineLogo">
              <div class="LogoCard">
                <img src="images/empresa4.png">
              </div>
              <div class="TextCard">
                <span>A empresa <span class="u-fontBold">DataPrime</span> é uma provedora de soluções em consultoria, serviços de tecnologia e software.</span>
              </div>

            </div>
            <div class="LineDescription">
              <div class="TitleDescription">Competências</div>
              <div class="LineList">
                <div class="List">
                  <ul>
                    <li>Nuvem</li>
                    <li>Integração contínua</li>
                    <li>Design de experiência</li>
                  </ul>
                </div>
                <div class="List">
                  <ul>
                    <li>Desenvolvimento web</li>
                    <li>Código aberto</li>
                  </ul>

                </div>
                <div class="List">
                  <ul>
                    <li>Inteligência artificial</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="CardFooter">
            <button data-toggle="tooltip" title="Envia uma mensagem à empresa requerindo uma parceria! " class="magic-button" id="magic-button-4" onclick="change">Enviar solicitação</button><br>

            <span class="success-message" id="success-message-4"><i class="glyphicon glyphicon-ok"></i> Solicitação enviada!</span>
          </div>

        </div>



      </div>

    </div>

  </section>
  <footer class="footerResult">
    Copyright (c) 2017 Copyright Holder All Rights Reserved for Rubinnovation.
  </footer>


</body>
<script src="js/index.js"></script>
</html>
